<title>Librería OnLine: Iniciar Sesión</title>
<h2>Iniciar Sesión</h2>
<link rel="stylesheet" href="/stylesheets/style.css"> <!-- Enlace al archivo CSS -->
<form class="formulario" action="/users/login" method="POST">
    <label>Correo:</label>
    <input type="email" name="email" required>
    <label>Contraseña:</label>
    <input type="password" name="password" required><br>
    <button type="submit">Ingresar</button>
</form>